<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="ua.rivnegray.boardgames_shop" level="DEBUG"/>

    <springProfile name="dev-remote-VM">
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"/>

        <appender name="DEV-REMOTE-VM-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/app/logs/boardgames_shop.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n%wEx</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/app/logs/archived/boardgames_shop.%d{'yyyy-MM-dd'}.log.zip</fileNamePattern>
                <maxFileSize>1MB</maxFileSize>
                <totalSizeCap>30MB</totalSizeCap>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="DEV-REMOTE-VM-ROLLING" />
        </root>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
